# logfiles
*.log

# purposefully hidden files and folders
._*

# useless macos files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

# just windows
Thumbs.db

# application icon project files
icons/

# vsc files
*.code-workspace
*.vscode

# compiled versions (only available over releases/gh action builds)
*.exe

# python specific files/folders
__pycache__/
.venv*/
.pytest_cache/